{% extends 'base.html' %}

{% block content %}
  <div class="max-w-4xl mx-auto py-10">
    <h1 class="text-2xl font-bold mb-4">Детали заявки</h1>
    <div class="bg-white shadow-md rounded-lg p-6">
      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2">ID:</label>
        <p class="text-gray-900">{{ ticket.id }}</p>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2">Тема:</label>
        <p class="text-gray-900">{{ ticket.subject }}</p>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2">Описание:</label>
        <p class="text-gray-900">{{ ticket.description }}</p>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2">Срочность:</label>
        <p class="text-gray-900">{{ ticket.get_urgent_display }}</p>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2">Статус:</label>
        <p class="text-gray-900">{{ ticket.get_status_display }}</p>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2">Дата создания:</label>
        <p class="text-gray-900">{{ ticket.created_at }}</p>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2">Ответственный:</label>
        <p class="text-gray-900">
          {% if ticket.responsible %}
            {{ ticket.responsible }}
          {% else %}
            Отсутствует
          {% endif %}
        </p>
      </div>
      <div class="flex space-x-4">
        {% if is_staff and not ticket.responsible %}
            <form action="{% url 'take_ticket' ticket.pk %}" method="post">
              {% csrf_token %}
              <button type="submit" class="bg-yellow-500 text-white px-4 py-2 rounded hover:bg-yellow-700">Взять заявку</button>
            </form>
        {% endif %}
        {% if is_staff and ticket.responsible and not ticket.status == 'Done'%}
            <form action="{% url 'done_ticket' ticket.pk %}" method="post">
              {% csrf_token %}
              <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700">Заявка выполнена</button>
            </form>
        {% endif %}
        <a href="{% url 'ticket_update' ticket.id %}" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700">Редактировать</a>
        <a href="{% url 'ticket_delete' ticket.id %}" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700">Удалить</a>
      </div>
    </div>
  </div>
{% endblock %}
